<div *ngIf="selectedPlaylist !== undefined">
  <h2>{{selectedPlaylist.name}}</h2>
  <img src="{{selectedPlaylist.images[0].url}}" width="320" height="320" class="img-responsive">
  <h4>No. of Tracks: {{selectedPlaylist.tracks.total}}</h4>
  <a href="javascript:void(0)" (click)="playAllTracks()">Play All</a>
  <a href="javascript:void(0)" (click)="playNextPrevious('previous')">Previous</a>
  <a href="javascript:void(0)" (click)="playNextPrevious('next')">Next</a>
</div>

<div *ngIf="tracks !== undefined">
  {{tracks.length}} tracks returned.
  <ol>
    <li *ngFor="let track of tracks; let i = index">
      <img src="{{track.track.album.images[2].url}}" class="btn btn-success" style="margin: 5px;" (click)="playTrack(track.track)">
      {{track.track.name}} - Album: {{track.track.album.name}}
    </li>
  </ol>
</div>
