<p>
  {{ratings.length}} ratings found.
  <br><br>
  {{stars1}}
  <i class="glyphicon glyphicon-star-empty"></i>
  <br>
  {{stars2}}
  <i class="glyphicon glyphicon-star-empty"></i>
  <i class="glyphicon glyphicon-star-empty"></i>
  <br>
  {{stars3}}
  <i class="glyphicon glyphicon-star-empty"></i>
  <i class="glyphicon glyphicon-star-empty"></i>
  <i class="glyphicon glyphicon-star-empty"></i>
  <br>
  {{stars4}}
  <i class="glyphicon glyphicon-star-empty"></i>
  <i class="glyphicon glyphicon-star-empty"></i>
  <i class="glyphicon glyphicon-star-empty"></i>
  <i class="glyphicon glyphicon-star-empty"></i>
  <br>
  {{stars5}}
  <i class="glyphicon glyphicon-star-empty"></i>
  <i class="glyphicon glyphicon-star-empty"></i>
  <i class="glyphicon glyphicon-star-empty"></i>
  <i class="glyphicon glyphicon-star-empty"></i>
  <i class="glyphicon glyphicon-star-empty"></i>
</p>
