<p>
  {{ratings.length}} ratings found.
  <br><br>
  {{stars1}}
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <br>
  {{stars2}}
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <br>
  {{stars3}}
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <br>
  {{stars4}}
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <br>
  {{stars5}}
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
  <i class="fa fa-star-o fa-3x star-width star-unselected"></i>
</p>
