<navbar></navbar>
<div class="container">
  <div class="starter-template">
    <router-outlet></router-outlet>
  </div>
</div>
<!--TODO make footer a component, and truly stick-->
<footer class="footer">
  <div class="container">
      <span class="text-muted">
        <i class="fa fa-play fa-fw fw-lg"></i>
        <i class="fa fa-pause fa-fw fw-lg"></i>
        <i class="fa fa-stop fa-fw fw-lg"></i>
        <i class="fa fa-forward fa-fw fw-lg"></i>
        <i class="fa fa-backward fa-fw fw-lg"></i>
      </span>
  </div>
</footer>
