<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{artist.name}}</h2>
      <img src="{{artist.images[1].url}}" class="img-responsive albumCoverImg" alt="Cover">
      <h3>Genres:</h3>
      <ul>
        <li *ngFor="let genre of artist.genres; let i = index">
          {{genre}}
        </li>
      </ul>
      <h3>Albums:</h3>
      <ul>
        <li *ngFor="let album of albums; let i = index">
          <a (click)="viewAlbum(album.id)" [routerLink]="">{{album.name}}</a> ({{album.release_date | date: 'yyyy'}})
        </li>
      </ul>
    </div>
  </div>
</div>
