/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");

/*$icon-font-path =         "bootstrap/fonts/";*/
/*@import bootstrap;*/

@import "assets/styles/bootstrap.css";
@import "assets/styles/bootstrap.darkly.css";
/*body {*/
/*padding-top: 5rem;*/
/*}*/
/*.starter-template {*/
/*padding: 3rem 1.5rem;*/
/*text-align: center;*/
/*}*/
.star-width {
  padding-right: 12px;
}

.star-selected {
  color: yellow;
}

.star-selected:hover {
  color: #e9e965;
}

.star-unselected {
  color: gray;
}

.star-unselected:hover {
  color: #cbc3c3;
}

.glyphicon.nowPlaying {
  font-size: 45px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  background-blend-mode: soft-light;
}
